#dialog-close-button-container:hover {
    background-color: rgb(232, 17, 35);
}

.dialog-footer-button:hover {
    background-color: rgb(102, 102, 102);
}

.dialog-footer-button {
    background-color: rgb(68, 68, 68);
}
